./manim_scripts/__pycache__
./manim_scripts/media/videos/celestial-n-body-simulation/1080p60/partial_movie_files
./manim_scripts/media/videos/hamiltonian_test/1080p60/partial_movie_files
./records.pptx
./records
./videos-to-merge